# -*- coding:utf-8 -*-
development:
  version: "Ver1.0.0.a"
  activeresource:
    lgdpf:
      site: "http://localhost:3000"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003"
      user: 
      password: 
      proxy: 
      api_key: 
      prefix: 
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # sheltersテーブルの同期元情報
  shelter_source:
    uri: http://localhost:3000/exportdata/
    timeout: 60
    basic_auth:
      username: 
      password: 
    
test:
  version: "Ver1.0.0.a"
  activeresource:
    lgdpf:
      site: "http://localhost:3000"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003"
      user: 
      password: 
      proxy:
      api_key: 
      prefix: 
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # sheltersテーブルの同期元情報
  shelter_source:
    uri: http://localhost:3000/exportdata/
    timeout: 60
    basic_auth:
      username: 
      password: 
    
production:
  version: "Ver1.0.0.a"
  activeresource:
    lgdpf:
      site: "http://localhost:3000/LGDPF"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003/LGDIS"
      user: 
      password: 
      proxy: 
      api_key: 
      prefix: "/LGDIS"
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # sheltersテーブルの同期元情報
  shelter_source:
    uri: https://redmine.example.com/exportdata/
    timeout: 60
    basic_auth:
      username: 
      password: 
