# -*- coding:utf-8 -*-
development:
  version: "Ver1.0.0.a"
  # 動作種別(0=通常モード, 1=災害訓練モード, 2=通信試験モード)
  run_mode: 0
  activeresource:
    lgdpf:
      site: "http://localhost:3000"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003"
      user: 
      password: 
      proxy: 
      api_key: 
      prefix: 
      # run_mode(動作種別)で設定・稼動している災害番号
      project_identifier: "I04202000000000000001"
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # sheltersテーブルの同期元情報
  shelter_source:
    uri: http://localhost:3000/exportdata/
    timeout: 60
    basic_auth:
      username: 
      password: 
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000

test:
  version: "Ver1.0.0.a"
  # 動作種別(0=通常モード, 1=災害訓練モード, 2=通信試験モード)
  run_mode: 0
  activeresource:
    lgdpf:
      site: "http://localhost:3000"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003"
      user: 
      password: 
      proxy:
      api_key: 
      prefix: 
      # run_mode(動作種別)で設定・稼動している災害番号
      project_identifier: "I04202000000000000001"
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # sheltersテーブルの同期元情報
  shelter_source:
    uri: http://localhost:3000/exportdata/
    timeout: 60
    basic_auth:
      username: 
      password: 
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000
    
production:
  version: "Ver1.0.0.a"
  # 動作種別(0=通常モード, 1=災害訓練モード, 2=通信試験モード)
  run_mode: 0
  activeresource:
    lgdpf:
      site: "http://localhost:3000/LGDPF"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003/LGDIS"
      user: 
      password: 
      proxy: 
      api_key: 
      prefix: "/LGDIS"
      # run_mode(動作種別)で設定・稼動している災害番号
      project_identifier: "I04202000000000000001"
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # sheltersテーブルの同期元情報
  shelter_source:
    uri: https://redmine.example.com/exportdata/
    timeout: 60
    basic_auth:
      username: 
      password: 
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000
