# -*- coding:utf-8 -*-
development:
  activeresource:
    lgdpf:
      site: "http://localhost:3000"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003"
      user: 
      password: 
      proxy: 
      api_key: 
    
test:
  activeresource:
    lgdpf:
      site: "http://localhost:3000"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003"
      user: 
      password: 
      proxy:
      api_key: 
    
production:
  activeresource:
    lgdpf:
      site: "http://localhost:3000/LGDPF"
      user: 
      password: 
      proxy: 
    lgdis:
      site: "http://localhost:3003/LGDIS"
      user: 
      password: 
      proxy: 
      api_key: 