.set_center {
  text-align: center;
}

.set_right {
  text-align: right;
}

.set_left {
  text-align: left;
}

.tabular label.flt{
  font-weight: normal;
  margin-left: 0px;
  text-align: left;
  width: 150px;
}
