<p><%= I18n.t('label_title') %>への仮登録が完了しました。</p>
<p></p>

<p>本人確認のため、下記URLへにアクセスしアカウントの本登録を完了させて下さい。</p>
<% url = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
<p><%= link_to url, url %></p>
<p></p>

<p><%= SETTINGS["mail"]["sender_name"] %></p>
